<div class='loading' ng-show='isLoading'>
  <img class='loadingGif' src='assets/spinny.gif'></img><br> 
  Finding your concerts...
</div>
<div>
<!-- NAV BAR -->
  <nav ng-show='isLoading==false' class="navbar navbar-default">
    <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#/">&#9835;</a>
      </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#/concerts" ng-click='getPlaylists()'>Playlists</a></li>
          <li><a style="cursor: pointer;" ng-click='getFollowing()'>Following</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="searchText" placeholder="Filter Results">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    <!-- END NAV BAR  -->
  <h4 ng-show='isLoading==false && data.length!=0'>Showing {{showing}} of {{data.length}} events in your area</h4>
  <h4 ng-show='data.length==0'>No events found</h4>
<!-- THUMBNAILS FOR CONCERTS -->
  <div ng-show='isLoading==false' class="row">
    <div ng-repeat='event in filteredEvents | filter:searchText | orderBy:"show.start.date"'>
      <div class="col-sm-5 col-md-3">
        <div class="thumbnail">
          <div class='imageContainer' style='background: url({{event.info.images[0].url}}) center center'>
          </div>
          <div class='thumbnailtxt'>
            <h3>{{event.info.name}}</h3>
              <div>{{parseMonth(event.show.datetime)}} {{parseDay(event.show.datetime)}} @ {{event.show.venue_name}}</div>
            <a style="cursor: pointer;" ng-click='getSimilar(event.info.id)' class='going'>Find similar</a>
           <p><a href="{{event.show.concert_uri}}" class="btn btn-primary" role="button">Buy tickets</a></p>
         </div>
        </div> <!-- end thumbnail -->
      </div> <!-- end col definition -->
    </div> <!-- end ngrepeat -->
  </div> <!-- end thumbnail row -->
  <div ng-show='isLoading==false' class='text-center'>
    <pagination total-items="totalItems" items-per-page="itemsPerPage" page="currentPage"></pagination>
  </div>
</div>
